{% extends '@VirtualniNemocniceApp/base.html.twig' %}

{% block content %}
    {% include 'BraincraftedBootstrapBundle::flash.html.twig' %}

    <div class="row">
        <div class="col-md-10">
            <h2>Poradna test</h2>
            <a href="{{ path('createQuestion') }}">Přejít k vytvoření dotazu</a>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-10">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th colspan="2">
                        Všechny zadané dotazy
                    </th>
                </tr>
                <tr>
                    <th>
                        Email
                    </th>
                    <th>
                        Dotaz
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for patient in patients %}
                    <tr>
                        <th><a href="{{ path('detailQuestion') }}">{{ patient.email }}</a></th>
                        <td>{{ patient.query }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}