@import "variables.less";
@import "mixins.less";

body {
  overflow-x: hidden;
  font-family: "Neue Helvetica W02", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 16px;
}

p {
  font-size: 20px;
  &.small {
    font-size: 16px;
  }
}

.spacer {
  margin-top: 20px;
}

.standalone {
  margin-bottom: 20px;
}

.underline {
  border-bottom: 2px solid;
  padding-bottom: 3px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
  color: @brand-success;
  outline: none;
}

p.small {
  font-size: 14px;
}

h4 {
  margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Neue Helvetica W02", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.img-centered {
  margin: 0 auto;
}

header {
  text-align: center;
  background: @brand-white;
  color: @brand-gray;

  .container {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .intro-text {
    display: block;
    font-family: "Neue Helvetica W02", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 48px !important;
  }
}

@media (min-width: 768px) {
  .container {
    width: 800px
  }
}

@media (min-width: 768px) {
  header {
    .container {
      padding-top: 100px;
      padding-bottom: 100px;
    }
    .intro-text {
      .name {
        font-size: 4.75em;
      }
      .skills {
        font-size: 1.75em;
      }
    }
  }
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: @brand-white;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: @brand-white;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: @brand-blue;
  background-color: transparent;
}

.navbar-default .navbar-brand {
  color: @brand-white;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: @brand-white;
}

.navbar-brand {
  padding: 10px 15px;
  font-size: 26px;
  span {
    color: @brand-blue;
    font-weight: bold;
    font-size: 38px;
  }
}

@media (min-width: 768px) {
  .navbar-static-top {
    padding: 15px 0;
    .navbar-brand {
      span {
        color: @brand-blue;
        font-weight: bold;
        font-size: 38px;
      }
      font-size: 32px;
      color: @brand-white;
    }
  }

  .navbar-fixed-top.navbar-shrink {
    padding: 10px 0;
    .navbar-brand {
      font-size: 1em;
    }
  }
}

.nav > li > a:hover, .nav > li > a:focus {
  background-color: transparent;
  text-decoration: underline;
}

.navbar {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: @brand-gray;
  color: @brand-white;
  a:focus {
    outline: none;
  }

  .navbar-nav {
    letter-spacing: 1px;
    li {
      &.active > a {
        color: @brand-blue;
        text-decoration: underline;
        background-color: transparent;
      }
      a {
        font-size: 16px;
        color: @brand-white;
        //padding: 15px 10px;
      }
      a:focus {
        outline: none;
      }
    }
  }
}

.navbar-default,
.navbar-inverse {
  border: none;
}

section {
  padding: 30px 0;
  h2 {
    margin: 20px 0;
    font-size: 1.5em;
  }
}

section.steps {
  background: @brand-blue;
  color: white;
}

section.price {
  background: @brand-gray;
  color: white;
}

section.promo {
  background: @brand-white;
  color: @brand-gray;
}

section.about {
  background: @brand-blue;
  color: white;
}

@media (max-width: 767px) {
  section {
    padding: 50px 0;
  }

  section.first {
    padding-top: 50px;
  }
}

.steps {
  .note {
    margin-top: 22px;
    .note__text {
      width: 115px;
      display: block;
      float: left;
      margin-top: 10px;
    }
  }
}

.icons-step, .icons-note, .icons-doctor, .icons-chat {
  background: url('../images/icons.png') no-repeat;
  display: block;
}

.icons-note, .icons-doctor, .icons-chat {
  background-size: 212px 141px;
  margin-left: 22px;
  height: 53px;
  width: 45px;
}

.icons-step {
  background-position: -149px 0;
  background-size: 212px 141px;
  height: 128px;
  width: 24px;
  float: left;
  color: @brand-blue;
  padding: 2px 8px;
  font-weight: bold;
}

.icons-note {
  background-position: -100px 0;
}

.icons-doctor {
  background-position: 0 0;
}

.icons-chat {
  background-position: -50px 0;
}

.btn-lg {
  padding: 10px 30px;
  font-size: 22px;
}

.btn-default,
.btn-default:hover,
.btn-default:active,
.btn-default:focus,
{
  background-color: @brand-white;
  color: @brand-gray;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
{
  background-color: @brand-blue;
  border-color: @brand-white;
  color: @brand-white;
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:focus,
{
  background-color: @brand-white;
  color: @brand-blue;
  border: 1px @brand-blue solid;
}

.btn-outline {
  color: white;
  font-size: 20px;
  border: solid 2px white;
  background: transparent;
  transition: all 0.3s ease-in-out;
  margin-top: 15px;
  &:hover,
  &:focus,
  &:active,
  &.active {
    color: @brand-success;
    background: white;
    border: solid 2px white;
  }
}

footer {
  color: white;
  h3 {
    margin-bottom: 30px;
  }
  .footer-above {
    padding-top: 50px;
    background-color: @brand-primary;
  }
  .footer-col {
    margin-bottom: 50px;
  }
  .footer-below {
    padding: 25px 0;
    background-color: @brand-gray;
  }
  .footer-nav {
    padding-left: 0;
    li:not(:first-child) {
      a {
        padding-left: 5px;
      }
    }
    li {
      list-style-type: none;
      display: inline;
      color: @brand-light-gray;
      a {
        color: @brand-light-gray;
        padding-right: 5px;
      }
    }
  }
}

.btn:focus,
.btn:active,
.btn.active {
  outline: none;
}

.scroll-top {
  position: fixed;
  right: 2%;
  bottom: 2%;
  width: 50px;
  height: 50px;
  z-index: 1049;
  .btn {
    font-size: 20px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    line-height: 28px;
    &:focus {
      outline: none;
    }
  }
}
